@model CinemaArchiveProje.Models.Movie

@{
    ViewData["Title"] = "Film Sil";
    Layout = "_AdminLayout";
}

<h2>Filmi Sil</h2>

<h4>@Model.Title</h4>
<p>Bu filmi silmek istediğinize emin misiniz?</p>

<dl class="row">
    <dt class="col-sm-2">Açıklama</dt>
    <dd class="col-sm-10">@Model.Description</dd>

    <dt class="col-sm-2">Yönetmen</dt>
    <dd class="col-sm-10">@Model.Director?.Name</dd>

    <dt class="col-sm-2">Tür</dt>
    <dd class="col-sm-10">@Model.Genre?.Name</dd>

    <dt class="col-sm-2">Ülke</dt>
    <dd class="col-sm-10">@Model.Country?.Name</dd>
</dl>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
